* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sidebar {
    width: 16rem;
    height: 63rem;
    border-right: 1px solid #c3ccde;
    border-bottom: 1px solid #c3ccde;
}

.sidebar ul {
    list-style: none;
    padding: 1rem 2rem;
}

.sidebar li {
    margin-bottom: 1rem;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a.active {
    background-color: #e7e9eb;
}

.flex {
    display: flex;
}